body{
    background-color: black;
    align-items: center;

}
h2{
    color: #fff;
    
    padding-left: 50%;
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}